.site-info{
    background-color: transparent!important;
}

#page:before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 300px;
    background: #220E0E!important;
}

#site-navigation a {
    line-height: 40px;
    padding: 10px 25px;
    color: #FFD579!important;
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}